<!DOCTYPE HTML>
<html ng-app="entext">
  <head>
    <meta charset="utf-8">
    <title>Multi-pattern approximate search</title>
    <script src="lib/angular-1.5.8.min.js"></script>
    <script src="lib/angular-sanitize.js"></script>
    <script src="entext.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="(min-device-width : 812px)" href="entext.css"></link>
    <link rel="stylesheet" media="only screen and (min-device-width : 375px) and (max-device-width : 812px)" href="entext-mobile.css"></link>

    <link rel="shortcut icon" href="entext4.png">
  </head>
  <body ng-controller="MainCtrl">
    <div id="content">
      <div class="row">
        <div class="left header">
          {{api.search.vars.dictionary}} <span class="info">({{api.search.vars.patterns}})</span>
        </div>
        <div class="left" id="status">alpha</div>

        <div class="right">
          <button class="button" ng-click="api.dictionary.start_create()">+ New dictionary</button>
        </div>
        <div class="right" style="padding:7px" ng-show="api.search.vars.dictionary!=='demo'">
          <a href="#">Home</a>
        </div>

        <div class="clear"></div>
      </div>
      <div id="context">
        <div id="left-context" class="left context"></div>
        <div id="right-context" class="right context"></div>
        <div id="text"  class="text" contenteditable="true" ng-bind-html="api.search.vars.text"></div>
        <div class="clear"></div>
      </div>
      <div class="row">
        <div class="left">
          <div>
            <button ng-click="api.search.search()" class="button">Search</button>
            <span class="small">
              Max error:
              <input type="radio" ng-model="api.search.vars.k" name="k" value="0" id="k0"> <label for="k0">0</label>
              <input type="radio" ng-model="api.search.vars.k" name="k" value="1" id="k1"> <label for="k1">1</label>
              <input type="radio" ng-model="api.search.vars.k" name="k" value="2" id="k2"> <label for="k2">2</label>
            </span>
          </div>
          <div class="verysmall">
            {{api.search.vars.hits}} hits. Took: {{api.search.vars.took}}
            {{api.search.vars.message}}
            <span class="error">{{api.search.vars.error}}</span><br>
          </div>
        </div>
        <div class="right">
          <div class="cmd">
            $ curl "https://mpas.pcbje.com/create?k=2" --data '@path/to/patterns.txt' <br/>
            $ curl "https://mpas.pcbje.com/search?d={{api.search.vars.dictionary}}&k={{api.search.vars.k}}" --data "lorem ipsum..."
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div id="create" class="w3-modal">
      <div class="w3-modal-content">
        <div class="header" style="margin:0 0 10px 0">Create dictionary</div>
        <textarea ng-model="api.dictionary.vars.patterns" placeholder="One pattern per line (max 10000 patterns and 512KB text)"></textarea>
        <div style="margin-top:10px;">
          <button ng-click="api.dictionary.create()" class="button">Create</button>
          <button ng-click="api.dictionary.terminate_create()" class="grey button">Cancel</button>
          <span class="verysmall" style="padding-left:10px">{{api.dictionary.vars.message}}</span>
        </div>
      </div>
    </div>
  </body>
</html>
