<html ng-app="entext">
  <head>
    <title>Entext: Fast multi-pattern approximate search</title>
    <script src="lib/angular-1.5.8.min.js"></script>
    <script src="lib/angular-sanitize.js"></script>
    <script src="entext.js"></script>
    <link rel="stylesheet" href="entext.css"></link>
  </head>
  <body ng-controller="MainCtrl">
    <div id="content">
      <div id="title"><a href="#">Entext</a>: Fast multi-pattern approximate search</div>
      <div class="row">
        <div class="left header">
          {{response.info.e}} <span class="info">({{response.info.patterns}})</span>
        </div>
        <div class="right">
          <button class="button" ng-click="start_create()">+ Create new dictionary</button>
        </div>

        <div class="clear"></div>
      </div>
      <div id="context">
        <div id="left-context" class="left context"></div>
        <div id="right-context" class="right context"></div>
        <div id="text" ng-click="clear()" class="text" contenteditable="true" ng-bind-html="staging_text"></div>

      <div class="clear"></div>
      </div>
      <div class="row">
          <div class="cmd">
            $ curl https://entext.io/search?e={{response.info.e}}&k={{k}} --data "lorem ipsum..."
          </div>

          <button ng-click="search()" class="button">Search</button>
          <span class="small">
            Max distance:
            <input type="radio" ng-model="k" name="k" value="0" id="k0"> <label for="k0">0</label>
            <input type="radio" ng-model="k" name="k" value="1" id="k1"> <label for="k1">1</label>
            <input type="radio" ng-model="k" name="k" value="2" id="k2"> <label for="k2">2</label>
          </span>

        <div class="verysmall">
          Took {{response.took}}
          <span class="error">{{response.error}}</span>
        </div>
      </div>
    </div>

    <div id="create" class="w3-modal">
      <div class="w3-modal-content">
        <div class="header" style="margin:0 0 10px 0">Create dictionary ({{create_patterns.length}})</div>
        <textarea ng-model="pattern_staging" placeholder="One pattern per line (max 10000 patterns and 512KB text)"></textarea>
        <div class="cmd" style="margin-top:10px;">
          $ curl https://entext.io/create?k=2 --data '["Humbug", "Zulu"]'
        </div>
        <div style="margin-top:10px;">
          <button ng-click="create()" class="button">Create</button>
          <button ng-click="cancel_create()" class="grey button">Cancel</button>
          <span class="verysmall" style="padding-left:10px">{{create_message}}</span>
        </div>
      </div>
    </div>
  </body>
</html>
